a {
	text-decoration: none;
}

a:hover {
    color: #eee;
}

.navbar {
	background-image: url('../images/mac-lighter.jpg');
	background-size: cover;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
 	position: relative;
 	float: left;
 	margin-bottom: 0;
}

.navbar-link {
	color: #000;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-right: 35px;
	text-decoration: none;
	line-height: 6.5rem;
}

.section {
	padding: 50px 0;
}

.about-content,
.content {
	margin: 30px auto;
}

/* HOME */
.home {
	/*background-image: url('../images/qnc.jpg');
	background-size: cover;*/
	background-color: #ddd;
	padding: 30px 0;
}

.profile-picture {
	display: block;
	width: 75%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* SKILLS */
.skills {
	background-image: url('../images/phone-lighter.jpg');
	background-size: cover;
	text-align: center;
	padding: 50px 0;
}

.skills-title {
	margin: 10px 0;
}

/* PROJECTS */
.projects {
/*	background-image: url('../images/mac.jpg');
	background-size: cover;*/
	background-color: #ddd;
	text-align: center;
}

.projects-image {
	width: 100%;
	border-radius: 5px;
}

.projects-caption {
	margin: 0px 0 10px;
}

.prefooter {
	padding: 10px 0;
	background-color: #ddd;
	text-align: center;
}

.prefooter-link {
	display: inline-block;
}

.prefooter-image {
	margin: 0 10px;
	width: 30px;
	height: 30px;
}

/* FOOTER */
.footer {
	bottom: 0;
	margin: 0;
	background-color: #bbb;
}

.footer-text {
	text-align: center;
	color: #222;
	font-size: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

@media (max-width: 550px) {
	.profile-picture {
		width: 60%;
	}

	.content {
		margin: 20px auto;
	}

	.about-content {
		margin: 0;
	}
}
